#fifpuzzle {
  position: absolute;
  top: 150px;
  left: 102.75px;
}

#desc {
  position: absolute;
  top: 375px;
  left: 102.75px;
}

#startbutton {
  position: absolute;
  top: 560px;
  left: 102.75px;
}

#sample {
  position: absolute;
  top: 50%;
  left: 693px;
  position: absolute;
  transform: translate(0, -50%);
}